@import "foundation/**";
@import "object/**";
@import "layout/**";

body {
	min-width: 1240px;
	@media only screen and (max-width: 767px) {
		min-width: 0;
	}
}

.uibank {
	.mv {
		display: flex;
		justify-content: space-between;
		padding: 40px calc(50% - 540px) 20px;
		background: url("/images/bg_mv_pc.jpg") 0 0 / 100% no-repeat;
		@media only screen and (max-width: 767px) {
			background: url("/images/bg_mv_sp.jpg") left 0 bottom 0 / 100% no-repeat;
			padding: 40px 25px;
		}
		&-content {
			max-width: 490px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
		}
		&-head {
			font-size: 26px;
			color: #141E50;
			font-weight: bold;
			@media only screen and (max-width: 767px) {
				font-size: 4.7vw;
				text-align: center;
			}
		}
		&-logo {
			margin: 30px 0;
			@media only screen and (max-width: 767px) {
				margin: 20px 0;
			}
		}
		&-txt {
			font-size: 18px;
			color: #141E50;
			margin-bottom: 30px;
			width: 95%;
			@media only screen and (max-width: 767px) {
				font-size: 16px;
				margin-bottom: 10px;
				width: 100%;
			}
		}
		&-list {
			display: flex;
			margin-bottom: 30px;
			@media only screen and (max-width: 767px) {
				justify-content: center;
			}
			li {
				width: 140px;
				margin-right: 20px;
				@media only screen and (max-width: 767px) {
					&:last-of-type {
						margin: 0;
					}
				}
			}
		}
		&-btn-list {
			display: flex;
			justify-content: space-between;
			a {
				&:hover {
					opacity: 0.8;
				}
			}
			li {
				width: calc((100% - 20px) / 2);
			}
		}
		&-img {
			width: calc(100% - 510px);
			@media only screen and (max-width: 767px) {
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}

	.about {
		padding: 70px calc(50% - 540px) 90px;
		background: #F8F9FC;
		@media only screen and (max-width: 767px) {
			padding: 40px 25px;
		}
		&-list {
			display: flex;
			justify-content: space-between;
			@media only screen and (max-width: 767px) {
				flex-direction: column;
			}
		}
		&-item {
			text-align: center;
			width: calc((100% - 80px) / 4);
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
			figure {
				align-items: center;
				height: 230px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			figcaption {
				display: inline;
				text-align: center;
				padding-right: 35px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%);
				color: #14205B;
				&::after {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					color: #fff;
					font-family: "din-2014", sans-serif;
					font-weight: 700;
					text-align: center;
					font-style: normal;
					width: 23px;
					height: 23px;
					border-radius: 50%;
					background: #B49664;
				}
			}
			&:nth-of-type(1) {
				figure {
					img {
						width: 144px;
					}
				}
				figcaption {
					&::after {
						content: "1";
					}
				}
			}
			&:nth-of-type(2) {
				figure {
					img {
						width: 221px;
					}
				}				
				figcaption {
					&::after {
						content: "2";
					}
				}
			}
			&:nth-of-type(3) {
				figure {
					img {
						width: 218px;
					}
				}
				figcaption {
					&::after {
						content: "3";
					}
				}
			}
			&:nth-of-type(4) {
				figure {
					img {
						width: 284px;
					}
				}				
				figcaption {
					&::after {
						content: "4";
					}
				}
			}
			h3 {
				font-size: 24px;
				margin-top: 5px;
				color: #14205B;
				font-weight: 600;
				@media only screen and (max-width: 767px) {
					font-size: 18px;
				}
			}
			p {
				font-size: 14px;
				margin-top: 5px;
				min-width: 209px;
				margin: 0 auto;
				color: #666666
			}
		}
	}

	.feature {
		padding: 70px calc(50% - 340px) 90px;
		@media only screen and (max-width: 767px) {
			padding: 40px 24px;
		}
		&-list {
			margin-top: 70px;
			@media only screen and (max-width: 767px) {
				margin-top: 30px;
			}
		}
		&-item {
			&:not(:last-of-type) {
				margin-bottom: 90px;
			}
			&:nth-of-type(2) {
				.feature-cap-list {
					width: 530px;
					margin: 0 auto;
				}
			}
		}
		&-head {
			display: flex;
			width: 620px;
			margin: 0 auto;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
		}
		&-point {
			width: 84px;
		}
		&-content {
			margin-left: 60px;
			width: calc(100% - 163px);
			@media only screen and (max-width: 767px) {
				width: 100%;
				margin-left: 10px;
			}
			h3 {
				line-height: 1.8;
				font-weight: 600;
				font-size: 32px;
				color: #141E50;
				margin-bottom: 15px;
				@media only screen and (max-width: 767px) {
					font-size: 20px;
					margin-bottom: 5px;
					letter-spacing: -0.01em;
				}
			}
			p {
				font-size: 16px;
				@media only screen and (max-width: 767px) {
					font-size: 14px;
				}
			}
		}
		&-txt {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 80px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50px);
				width: 0;
				height: 0;
				border-style: solid;
				border-right: 47px solid transparent;
				border-left: 47px solid transparent;
				border-top: 38px solid #99b0d9;
				border-bottom: 0;
			}
			img {
				width: 90px;
				margin: 0;
				@media only screen and (max-width: 767px) {
					width: 90px;
					margin-top: 0;
				}
			}
			p {
				margin-left: 15px;
				color: #141E50;
				font-size: 20px;
				font-weight: 600;
				@media only screen and (max-width: 767px) {
					font-size: 16px;
				}
			}
		}
		&-img {
			margin-top: 24px;
		}
		&-small {
			font-size: 12px;
			text-align: center;
			display: block;
		}
		&-cap-list {
			font-size: 12px;
			margin-top: 10px;
		}
		&-row {
			display: flex;
			justify-content: space-between;
			font-size: 31px;
			color: #141E50;
			width: 430px;
			margin: 10px auto;
			ul {
				margin-top: 30px;
			}
			img {
				width: 142px;
				margin-top: 0;
			}
		}
		&-bottom {
			display: flex;
			margin: 35px -20px 0;
			@media only screen and (max-width: 767px) {
				flex-direction: column;
				margin: 30px 0;
			}
			li {
				margin-bottom: 35px;
				h3 {
					font-size: 24px;
					color: #222222;
					font-weight: 600;
					border-bottom: solid 3px #162EA3;
					padding: 15px 0 25px 85px;
					position: relative;
					margin-bottom: 20px;
					&::before {
						display: block;
						color: #162EA3;
						font-family: "din-2014", sans-serif;
						font-weight: 700;
						font-size: 81px;
						text-align: center;
						font-style: normal;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				&:nth-of-type(1) {
					h3 {
						&::before {
							content: "1";
						}
						&::after {
							content: "";
							position: absolute;
							width: 74px;
							height: 69px;
							background: url("/images/img_money1.jpg") 0 0 /100%;
							right: 50px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
				&:nth-of-type(2) {
					h3 {
						&::before {
							content: "2";
						}
						&::after {
							content: "";
							position: absolute;
							width: 61px;
							height: 60px;
							background: url("/images/img_money2.jpg") 0 0 /100%;
							right: 30px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
				&:nth-of-type(3) {
					h3 {
						&::before {
							content: "3";
						}
						&::after {
							content: "";
							position: absolute;
							width: 67px;
							height: 60px;
							background: url("/images/img_money3.jpg") 0 0 /100%;
							right: 50px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
			p {
				font-size: 18px;
			}
			&-img {
				max-width: 350px;
				margin-left: 50px;
				@media only screen and (max-width: 767px) {
					width: 100%;
					margin: 0 auto;
				}
			}
		}
	}

	.merit {
		margin-bottom: 80px;
		@media only screen and (max-width: 767px) {
			margin-bottom: 0;
		}
		.c-sec-head {
			font-size: 24px;
			@media only screen and (max-width: 767px) {
				font-size: 18px;
			}
		}
		.c-sec-ttl {
			font-size: 28px;
			@media only screen and (max-width: 767px) {
				font-size: 22px;
			}
		}
		&-card {
			box-sizing: border-box;
			max-width: 1000px;
			margin: 0 auto;
			padding: 60px 110px;
			background: #F8F9FC;
			border-radius: 20px;
			box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.15);
			@media only screen and (max-width: 767px) {
				padding: 40px 25px;
			}
		}
		&-intro {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			@media only screen and (max-width: 767px) {
				margin-top: 0;
				flex-direction: column-reverse;
			}
			p {
				font-size: 16px;
				line-height: 1.8;
				width: calc(100% - 210px);
				@media only screen and (max-width: 767px) {
					width: 100%;
					margin-top: 5px;
				}
			}
			&-img {
				width: 178px;
				@media only screen and (max-width: 767px) {
					width: 60%;
					margin: 20px auto 0;
				}
			}
		}
		&-content {
			text-align: center;
			position: relative;
			h3 {
				font-size: 26px;
				@media only screen and (max-width: 767px) {
					font-size: 20px;
				}
				span {
					font-weight: 600;
				}
			}
		}
		&-list {
			display: flex;
			margin-top: 40px;
			justify-content: space-between;
			align-items: flex-end;
			@media only screen and (max-width: 767px) {
				flex-direction: column;
			}
			li {
				@media only screen and (max-width: 767px) {
					width: 100%;
					margin-bottom: 20px;
				}
				&:nth-of-type(1) {
					figure {
						img {
							width: 174px;
						}
					}
				}
				&:nth-of-type(2) {
					figure {
						img {
							width: 209px;
						}
					}
				}
				&:nth-of-type(3) {
					figure {
						img {
							width: 180px;
						}
					}
				}
			}
			figure {
				padding: 0 40px;
				@media only screen and (max-width: 767px) {
					padding: 0;
				}
			}
			figcaption {
				font-size: 24px;
				font-weight: bold;
				color: #141E50;
			}
		}
		&-bottom {
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			margin-top: 30px;
			color: #141E50;
		}
	}

	.manage {
		padding: 70px calc(50% - 405px) 175px;
		@media only screen and (max-width: 767px) {
			padding: 40px 25px;
		}
		&-list {
			display: flex;
			align-items: flex-end;
			@media only screen and (max-width: 767px) {
				flex-direction: column;
			}
			li {
				text-align: center;
				@media only screen and (max-width: 767px) {
					margin-bottom: 20px;
				}
				&:nth-of-type(3) {
					p {
						margin-bottom: -22px;
					}
				}
			}
			figure {
				img {
					@media only screen and (max-width: 767px) {
						width: 60%;
						margin: 0 auto;
					}
				}
			}
			figcaption {
				font-size: 24px;
				margin-top: 10px;
				color: #14205B;
			}
			p {
				letter-spacing: -0.01em;
				width: 195px;
				margin: 0 auto;
				font-size: 14px;
				color: #666;
				margin-top: 15px;
				@media only screen and (max-width: 767px) {
					width: 100%;
				}
			}
		}
	}

	.use {
		background: #F8F9FC;
		padding: 80px 97px;
		@media only screen and (max-width: 767px) {
			padding: 40px 25px;
		}
		&-list {
			display: flex;
			flex-direction: column;
			max-width: 1080px;
			margin: 20px auto;
		}
		&-item {
			background: #fff;
			&:nth-of-type(1) {
				margin-bottom: 20px;
				.use-item-row {
					&:nth-of-type(1) {
						p {
							border: solid 1px #CED0E5;
							padding: 32px;
							border-radius: 12px;
						}
						.use-item-row-img {
							width: 196px;
						}
						.use-item-content {
							width: calc(100% - 264px);
						}
					}
					&:nth-of-type(2) {
						img {
							width: 200px;
							object-fit: contain;
						}
					}
				}
			}
			&:nth-of-type(2) {
				.use-item-row {
					&:nth-of-type(1) {
						p {
							border: solid 1px #CED0E5;
							padding: 32px;
							border-radius: 12px;
						}
						.use-item-row-img {
							width: 158px;
						}
						.use-item-content {
							width: calc(100% - 222px);
						}
					}
					&:nth-of-type(2) {
						img {
							width: 246px;
						}
					}
				}
			}
		}
		&-item-row {
			display: flex;
			padding: 70px 67px;
			position: relative;
			align-items: center;
			@media only screen and (max-width: 767px) {
				padding: 20px;
				flex-direction: column;
				align-items: center;
			}
			&:nth-of-type(1) {
				&::before {
					content: "";
					width: 200px;
					height: 143px;
					background: url("/images/img_change.jpg") 0 0 / 100% no-repeat;
					left: 50%;
					bottom: -60px;
					position: absolute;
					transform: translate(-50%, 0%);
				}
			}
		}
		&-item-content {
			padding: 20px 34px;
			@media only screen and (max-width: 767px) {
				padding: 20px 0;
			}
			h4 {
				color: #141E50;
				font-size: 20px;
				margin-bottom: 4px;
			}
			span {
				font-weight: bold;
				color: #141E50;
				font-size: 20px;
				@media only screen and (max-width: 767px) {
					font-size: 18px;
				}
			}
			p {
				font-size: 16px;
				margin-top: 15px;
			}
			small {
				font-size: 14px;
				margin-top: 30px;
				display: block;
			}
		}
	}

	.question {
		padding: 80px calc(50% - 500px) 115px;
		@media only screen and (max-width: 767px) {
			padding: 40px 25px;
		}
		&-list {
			margin-top: 60px;
			display: flex;
			flex-direction: column;
			@media only screen and (max-width: 767px) {
				margin-top: 20px;
			}
			li {
				box-sizing: border-box;
				box-shadow: 0px 15px 25px 0px rgba(16, 47, 139, 0.1);
				background: #fff;
				width: 100%;
				margin-bottom: 20px;
				padding: 50px 120px 50px 130px;
				position: relative;
				border-radius: 10px;
				@media only screen and (max-width: 767px) {
					padding: 20px;
					border-radius: 4px;
				}
				&::before {
					content: "Q";
					left: 35px;
					top: 25px;
					position: absolute;
					width: 65px;
					height: 65px;
					display: block;
					color: #fff;
					font-family: "din-2014", sans-serif;
					font-weight: 700;
					text-align: center;
					font-style: normal;
					font-size: 41px;
					background: #B49664;
					border-radius: 50%;
					@media only screen and (max-width: 767px) {
						top: 15px;
						left: 15px;
						width: 40px;
						height: 40px;
						font-size: 35px;
						line-height: 40px;
					}
				}
				h3 {
					color: #141E50;
					font-size: 24px;
					&.active {
						margin-bottom: 10px;
					}
					@media only screen and (max-width: 767px) {
						padding-left: 50px;
						font-size: 18px;
						padding-right: 30px;
						font-weight: 500;
					}
				}
				p {
					color: #141E50;
					font-size: 16px;
					@media only screen and (max-width: 767px) {
						font-size: 14px;
					}
				}
			}
		}
		&-head {
			position: relative;
			.js-qanda-btn {
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				width: 24px;
				height: 13px;
				transform: translateY(-50%);
				transition: all 0.2s ease-out;
				cursor: pointer;
				background: url("/images/img_arrow_qanda.png") 0 0 / 100%;
				&.active {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
		.js-qanda-txt {
			display: none;
		}
	}

	.step {
		background: #F8F9FC;
		padding: 90px calc(50% - 600px);
		@media only screen and (max-width: 767px) {
			padding: 40px 25px;
		}
		&-pre {
			display: flex;
			justify-content: space-between;
			margin-top: 90px;
			padding-top: 40px;
			border-top: solid 1px #CED0E5;
			position: relative;
			@media only screen and (max-width: 767px) {
				margin-top: 30px;
				flex-direction: column;
			}
			.step-head-index {	
				font-size: 12px;
			}
			.step-img-content {
				display: flex;
				justify-content: space-between;
			}
		}
		&-head {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			&-index {	
				font-size: 12px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				background: #B49664;
				color: #fff;
				font-style: normal;
				font-weight: 700;
				text-align: center;
			}
			h3 {
				margin-left: 20px;
				font-size: 24px;
				font-weight: bold;
				margin-left: 10px;
				color: #141E50;
				@media only screen and (max-width: 767px) {
					width: calc(100% - 80px);
				}
			}
			span {
				font-size: 12px;
			}
			p {
				font-size: 16px;
			}
		}
		&-content {
			width: 580px;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
			&-desc {
				display: block;
				font-size: 18px;
				margin-bottom: 5px;
			}
		}
		&-img-content {
			width: calc(100% - 680px);
			@media only screen and (max-width: 767px) {
				width: 100%;
				margin-top: 20px;
			}
		}
		figure {
			width: 140px;
			text-align: center;
			figcaption {
				font-size: 20px;
				margin-bottom: 5px;
			}
		}
		&-list {
			li {
				margin-top: 30px;
				border-top: solid 1px #CED0E5;
				padding-top: 50px;
				display: flex;
				justify-content: space-between;
				padding-right: 152px;
				position: relative;
				@media only screen and (max-width: 767px) {
					padding: 20px 0;
					flex-direction: column;
				}
				&::before {
					content: "";
					border-top: 22px solid #ced0e5;
					border-right: 21px solid transparent;
					border-left: 21px solid transparent;
					width: 42px;
					height: 22px;
					position: absolute;
					right: 380px;
					top: 0;
					box-sizing: border-box;
					@media only screen and (max-width: 767px) {
						left: 0;
						right: 0;
						margin: 0 auto;
					}
				}
				&::after {
					content: "";
					border-top: 22px solid #f8f9fc;
					border-right: 21px solid transparent;
					border-left: 21px solid transparent;
					width: 42px;
					height: 22px;
					position: absolute;
					right: 380px;
					top: -1px;
					box-sizing: border-box;
					@media only screen and (max-width: 767px) {
						left: 0;
						right: 0;
						margin: 0 auto;
					}
				}
			}
		}
		&-option {
			padding-right: 152px;
			border-top: solid 1px #CED0E5;
			border-bottom: solid 1px #CED0E5;
			display: flex;
			justify-content: space-between;
			margin-top: 90px;
			padding-top: 40px;
			padding-bottom: 40px;
			position: relative;
			@media only screen and (max-width: 767px) {
				padding: 20px 0;
				margin: 0;
			}
			&::before {
				content: "";
				border-top: 22px solid #ced0e5;
				border-right: 21px solid transparent;
				border-left: 21px solid transparent;
				width: 42px;
				height: 22px;
				position: absolute;
				right: 380px;
				top: 0;
				box-sizing: border-box;
				@media only screen and (max-width: 767px) {
					left: 0;
					right: 0;
					margin: 0 auto;
				}
			}
			&::after {
				content: "";
				border-top: 22px solid #f8f9fc;
				border-right: 21px solid transparent;
				border-left: 21px solid transparent;
				width: 42px;
				height: 22px;
				position: absolute;
				right: 380px;
				top: -1px;
				box-sizing: border-box;
				@media only screen and (max-width: 767px) {
					left: 0;
					right: 0;
					margin: 0 auto;
				}
			}
			.step-head {
				h3 {
					@media only screen and (max-width: 767px) {
						width: calc(100% - 80px);
					}
				}
			}
			.step-head-index {	
				font-size: 12px;
			}
			.step-img-content {
				width: calc(100% - 605px);
			}
		}
	}

	.fixedNavi {
		padding: 20px 0;
		&_item {
			width: 235px;
			@media only screen and (max-width: 767px) {
				width: calc((100% - 20px) / 2);
			}
			&:nth-of-type(1) {
				margin-right: 30px;
				@media only screen and (max-width: 767px) {
					margin-right: 20px;
				}
			}
		}
	}
}