@import "foundation/**";
@import "object/**";
@import "layout/**";

.uibank {
	.about {
		padding: 70px calc(50% - 540px) 90px;
		background: #F8F9FC;
		&-list {
			display: flex;
			justify-content: space-between;
		}
		&-item {
			text-align: center;
			width: calc((100% - 90px) / 4);
			figure {
				align-items: center;
				height: 230px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			figcaption {
				display: inline;
				text-align: center;
				padding-right: 35px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%);
				&::after {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					color: #fff;
					font-family: "din-2014", sans-serif;
					font-weight: 700;
					text-align: center;
					font-style: normal;
					width: 23px;
					height: 23px;
					border-radius: 50%;
					background: #B49664;
				}
			}
			&:nth-of-type(1) {
				figure {
					img {
						width: 144px;
					}
				}
				figcaption {
					&::after {
						content: "1";
					}
				}
			}
			&:nth-of-type(2) {
				figure {
					img {
						width: 221px;
					}
				}				
				figcaption {
					&::after {
						content: "2";
					}
				}
			}
			&:nth-of-type(3) {
				figure {
					img {
						width: 218px;
					}
				}
				figcaption {
					&::after {
						content: "3";
					}
				}
			}
			&:nth-of-type(4) {
				figure {
					img {
						width: 284px;
					}
				}				
				figcaption {
					&::after {
						content: "4";
					}
				}
			}
			h3 {
				font-size: 24px;
				margin-top: 5px;
				color: #14205B;
			}
			p {
				font-size: 14px;
				margin-top: 5px;
				width: 209px;
				margin: 0 auto;
			}
		}
	}

	.feature {
		padding: 70px calc(50% - 340px) 90px;
		&-list {
			margin-top: 70px;
		}
		&-item {
			&:not(&:last-of-type) {
				margin-bottom: 100px;
			}
		}
		&-head {
			display: flex;
			width: 620px;
			margin: 0 auto;
		}
		&-point {
			width: 84px;
		}
		&-content {
			margin-left: 60px;
			width: calc(100% - 163px);
			h3 {
				line-height: 1.8;
				font-weight: 600;
				font-size: 32px;
				color: #141E50;
				margin-bottom: 15px;
			}
			p {
				font-size: 16px;
			}
		}
		&-txt {
			display: flex;
			align-items: center;
			margin-top: 80px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50px);
				width: 0;
				height: 0;
				border-style: solid;
				border-right: 47px solid transparent;
				border-left: 47px solid transparent;
				border-top: 38px solid #99b0d9;
				border-bottom: 0;
			}
			img {
				width: 141px;
			}
			p {
				margin-left: 15px;
				color: #141E50;
				font-size: 20px;
				font-weight: 600;
			}
		}
		&-img {
			margin-top: 15px;
		}
		&-bottom {
			display: flex;
			margin: 35px -20px 0;
			li {
				margin-bottom: 35px;
				h3 {
					font-size: 24px;
					color: #222222;
					font-weight: 600;
					border-bottom: solid 3px #162EA3;
					padding: 0 0 15px 75px;
					position: relative;
					margin-bottom: 20px;
					&::before {
						display: block;
						color: #162EA3;
						font-family: "din-2014", sans-serif;
						font-weight: 700;
						font-size: 81px;
						text-align: center;
						font-style: normal;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				&:nth-of-type(1) {
					h3 {
						&::before {
							content: "1";
						}
					}
				}
				&:nth-of-type(2) {
					h3 {
						&::before {
							content: "2";
						}
					}
				}
				&:nth-of-type(3) {
					h3 {
						&::before {
							content: "3";
						}
					}
				}
			}
			p {
				font-size: 18px;
			}
			img {
				width: 400px;
			}
		}
		&-item  {
			margin-bottom: 40px;
		}
	}

	.merit {
		margin-bottom: 80px;
		.c-sec-head {
			font-size: 24px;
		}
		.c-sec-ttl {
			font-size: 28px;
		}
		&-card {
			box-sizing: border-box;
			max-width: 1000px;
			margin: 0 auto;
			padding: 60px 110px;
			background: #F8F9FC;
			border-radius: 20px;
		}
		&-intro {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			p {
				font-size: 16px;
				line-height: 1.8;
				width: calc(100% - 210px);
			}
			&-img {
				width: 178px;
			}
		}
		&-content {
			text-align: center;
			h3 {
				font-size: 26px;
				span {
					font-weight: 600;
				}
			}
		}
		&-box {
			border: solid 2px #141E50;
			padding: 37px 0 22px;
			background: #fff;
			position: relative;
			margin-top: 55px;
			p {
				font-size: 20px;
				font-weight: bold;
				color: #fff;
				background: #141E50;
				display: inline-block;
				padding: 5px 33px;
				border-radius: 20px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&-list {
			display: flex;
			margin-top: 40px;
			justify-content: space-between;
			align-items: flex-end;
			li {
				&:nth-of-type(1) {
					figure {
						img {
							width: 174px;
						}
					}
				}
				&:nth-of-type(2) {
					figure {
						img {
							width: 209px;
						}
					}
				}
				&:nth-of-type(3) {
					figure {
						img {
							width: 180px;
						}
					}
				}
			}
			figure {
				padding: 0 40px;
			}
			figcaption {
				font-size: 24px;
				font-weight: bold;
				color: #141E50;
			}
		}
	}

	.manage {
		padding: 70px calc(50% - 405px) 175px;
		&-list {
			display: flex;
			align-items: flex-end;
			li {
				text-align: center;
				&:nth-of-type(3) {
					p {
						margin-bottom: -22px;
					}
				}
			}
			figcaption {
				font-size: 24px;
				margin-top: 10px;
				color: #14205B;
			}
			p {
				letter-spacing: -0.01em;
				width: 195px;
				margin: 0 auto;
				font-size: 14px;
				color: #666;
				margin-top: 15px;
			}
		}
	}

	.use {
		background: #F8F9FC;
		padding: 80px 97px;
		&-list {
			display: flex;
			flex-direction: column;
			max-width: 1080px;
			margin: 20px auto;
		}
		&-item {
			background: #fff;
			&:nth-of-type(1) {
				margin-bottom: 20px;
			}
		}
		&-item-row {
			display: flex;
			padding: 48px 67px;
			position: relative;
			&:nth-of-type(1) {
				&::before {
					position: absolute;
					top: 110%;
					left: 50%;
					width: 0;
					height: 0;
					-webkit-transform: translate(-50%, -50px);
					transform: translate(-50%, -50px);
					border-right: 35px solid transparent;
					border-left: 35px solid transparent;
					border-top: 29px solid #141E50;
					border-bottom: 0;
					border-style: solid;
					content: "";
				}
				img {
					width: 196px;
				}
			}
			&:nth-of-type(2) {
				img {
					width: 200px;
				}
			}
			&:nth-of-type(3) {
				img {
					width: 158px;
				}
			}
			&:nth-of-type(4) {
				&-img {
					width: 246px;
				}
			}
		}
		&-item-content {
			padding: 20px 34px;
			span {
				color: #141E50;
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
			small {
				margin-top: 30px;
				display: block;
			}
		}
	}
}