<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://use.typekit.net/dyc0mfl.css")
		link(rel="stylesheet", href="/pages/style.css")
		title  UI銀行
	body
		main.uibank
			section.mv
				.mv-content
					p.mv-head 東京きらぼしフィナンシャルグループ<br>が設立した『デジタルバンク』
					h1
						img.mv-logo(src="/images/logo_uibank.png", alt="")
					p.mv-txt きらぼし銀行とUI銀行を併用して活用いただくとますます便利に。スマホひとつで完結できるから、毎日がよりシンプルになります。
					ul.mv-list 
						li: img(src="/images/img_mv-item1.png", alt="")
						li: img(src="/images/img_mv-item2.png", alt="")
					ul.mv-btn-list
						li
							a(href="") 
								img(src="/images/img_btn1.png", alt="")
						li
							a(href="") 
								img(src="/images/img_btn2.png", alt="")
				.mv-img
					img(src="/images/img_mv.png", alt="")
			
			section.about 
				.c-sec-head きらぼし銀行と併用がおすすめ
				.c-sec-ttl デジタルバンク『UI銀行』ってどんな銀行？
				ul.about-list 
					li.about-item 
						figure 
							img(src="/images/img_about1.jpg", alt="")
							figcaption 特徴
						h3 東京きらぼしフィナンシャルグループが運営
						p UI銀行は、東京きらぼしフィ<br>ナンシャルグループが設立した<br>デジタルバンクです。
					li.about-item 
						figure 
							img(src="/images/img_about2.jpg", alt="")
							figcaption 特徴
						h3 アプリで全ての銀行サービスが利用可能
						p 口座開設から普通預金、定期預金の預け入れなど、お手持ちのスマートフォンから簡単にお取引いただけます。
					li.about-item 
						figure 
							img(src="/images/img_about3.jpg", alt="")
							figcaption 特徴
						h3 預金金利も振込手数料も業界高水準
						p 店舗運営や人件費などのコスト削減により、「高い金利」と「安い手数料」を実現しています。
					li.about-item 
						figure 
							img(src="/images/img_about4.jpg", alt="")
							figcaption 特徴
						h3 きらぼし銀行の窓口も変わらず利用可能
						p 万一、操作等にご不安なことがあればお近くのきらぼし銀行窓口でもご相談いただけますので安心です。

			section.feature 
				.c-sec-head きらぼし銀行と併用がおすすめ
				.c-sec-ttl 『UI銀行』の特徴は？
				ul.feature-list 
					li.feature-item
						.feature-head
							.feature-point
								img(src="/images/img_point1.png", alt="")
							.feature-content
								h3 業界最高水準の金利
								p 定期預金・普通預金共に業界高水準の金利だから、<br>「長期的に安定して預けたい方」､「預金で資産を増<br>やしたい方」には特におすすめです。
						img.feature-img(src="/images/img_feature1.jpg", alt="")

						.feature-txt
							img.feature-img(src="/images/img_pig.png", alt="")
							p 例えば、500万円を預金した場合...<br>なんと... 定期預金では10年間で約14万円の差が！
						img.feature-img(src="/images/img_feature2.jpg", alt="")

					li.feature-item
						.feature-head
							.feature-point
								img(src="/images/img_point2.png", alt="")
							.feature-content
								h3 手数料が毎月最大20回無料
								p UI銀行は手数料が最大20回/月無料！<br>お取引が多い方も便利に利用可能です。
						img.feature-img(src="/images/img_feature3.jpg", alt="")

					li.feature-item
						.feature-head
							.feature-point
								img(src="/images/img_point3.png", alt="")
							.feature-content
								h3 スマホ１つで取引可能<br>操作もシンプル
								p 普通預金・定期預金の口座開設、振込、ローンのお申込み・お借入れ・ご返済など、お手持ちのスマートフォンから、24時間365日（メンテナンス時間を除く）お取引が可能です。
						.feature-bottom
							ul 
								li
									h3 振り込み
									p アプリからの振込なら、どこからでも、数分程度で金融機関への振込が可能です。
								li
									h3 スマホATM
									p キャッシュカードのかわりにスマートフォンアプリを使って、ATMで入金・出金ができます。
								li
									h3 定期預金
									p 定期預金の商品選択や、お預入れができます。
							img.feature-bottom-img(src="/images/img_feature4.jpg", alt="")
			
			section.merit 
				.merit-card
					.c-sec-head きらぼし銀行と併用するメリット
					.c-sec-ttl 通常のネット銀行にはない対面サポート
					.merit-intro 
						p 通常のネット銀行と異なり、デジタルだけでなく対面でのご相談もできるから、アプリが苦手な人でも安心です。<br>きらぼし銀行店舗スタッフによる操作サポートをはじめ、きらぼし銀行の対面での相談で、お客さまのライフプランをサポートします。
						.merit-intro-img
							img(src="/images/img_merit1.png", alt="")
					.merit-content 
						.merit-box
							p シミュレーション
							h3 お近くのきらぼし銀行店舗にて
								span 対面でサポートいたします
						ul.merit-list 
							li
								figure 
									img(src="/images/img_merit2.png", alt="")
									figcaption 操作方法の<br>ご説明
							li
								figure 
									img(src="/images/img_merit3.png", alt="")
									figcaption ライフプラン<br>の相談
							li
								figure 
									img(src="/images/img_merit4.png", alt="")
									figcaption 各種イベント<br>セミナー

			section.manage 
				.c-sec-head 大切なお金の管理、ネット銀行で大丈夫？
				.c-sec-ttl 安心の運営体制をご紹介
				ul.manage-list 
					li
						figure 
							img(src="/images/img_manage1.jpg", alt="")
							figcaption 銀行業免許取得
						p 公共性の高い業務を行うため、金融庁の審査を経て総理大臣が交付する銀行業の免許を取得しています。
					li
						figure 
							img(src="/images/img_manage2.jpg", alt="")
							figcaption 安心のセキュリティ
						p あなたの口座を使えるのは、あなたのスマホだけ。お客さまの口座を守るため、様々なセキュリティ対策に取組んでいます。
					li
						figure 
							img(src="/images/img_manage3.jpg", alt="")
							figcaption 国内最大の<br>地域金融グループ
						p 東京を中心にネットワークを構築する地域金融グループ「東京きらぼしフィナンシャルグループ」の一員です。

			section.use
				.c-sec-ttl UI銀行のご利用イメージをご紹介！
				.c-sec-head 多くの方は普段使いの手軽な銀行や、預金口座として活用
				ul.use-list 
					li.use-item
						.use-item-row
							img(src="/images/img_woman.jpg", alt="")
							.use-item-content 
								span きらぼしハナコさん(43歳)の場合
								p 日々コツコツ節約しているものの、今の銀行だと窓口での手数料が高くて貯蓄を頑張ってもあんまり意味がないのかも...<br>振込手数料の無料回数が多い『UI銀行』に切り替え。
						.use-item-row
							.use-item-content 
								span 振り込み手数料がほとんど無料に！
								p 年間50回前後の振込や出金でトータル1万円以上の振込手数料がかかっていたが…ほとんど無料になって、気づいたら利子もついていた！コツコツ節約できていてかなり満足！<br>※あくまでご利用イメージとなります。預けている金額によって無料回数が異なる場合がございます。
							img(src="/images/img_free.jpg", alt="")
					li.use-item
						.use-item-row
							img(src="/images/img_man.jpg", alt="")
							.use-item-content 
								span きらぼしタロウさん(39歳)の場合
								p 収入の大部分を生活費に充て、残りを老後に備え貯蓄に回しているつもりが、ついつい使ってしまう...<br>貯蓄がしっかりできるように『UI銀行』で貯蓄用の口座を開設。
						.use-item-row
							.use-item-content 
								span 1年で10,000円も利子がついた！
								p メインバンクから貯蓄を移動したことで無駄遣いしなくなり、預けていた銀行で利子なんて期待したことはなかったが、UI銀行にしてから1年で10,000円くらいあってびっくり！<br>定期預金の手続きは申し込みから管理までスマホ一つで簡単だった！
								small ※500万円を定期預金(金利0.2%)で1年間預けた場合のご利用イメージとなります。お申込の内容や､金利変動によって適用金利が異なる場合がございます。
							.use-item-row-img
								img(src="/images/img_pig.png", alt="")
			
			section.question 
				.c-sec-ttl よくある不安や疑問にお答えします
				ul.question-list 
					li
						h3 通帳やキャッシュカードがなくて不安...？
						p 通帳は発行しておりませんが、すべての取引がモバイルアプリで確認でき、ご自身で「お取引明細書」のPDF発行、センターへのご依頼で「残高証明書」のPDF発行が可能です。<br>キャッシュカードをご利用されたい方は、アプリで新規発行手続きが可能です。
					li
						h3 「A-/安定的」という評価とは？
						p UI銀行の親会社となる東京きらぼしフィナンシャルグループは、2024年4月の日本格付研究所における信用格付で、「A–/安定的」という大手銀行と同じレベルで評価されており、リスクが低いことがわかります。
					li
						h3 セキュリティ面が心配？
						p UI銀行では、複数要素認証と最新の暗号化技術を用いており、24時間365日セキュリティ監視を行い、外部からの不正な侵入やサイバー攻撃の予兆を早期発見し、未然に防ぐ体制をとっております。
					li
						h3 現金は引き出せるの？
						p 全国で約27,000台あるセブン銀行およびきらぼし銀行のATMで「お預入れ」「お引出し」「残高照会」がご利用いただけます。
					li
						h3 預けているお金がなくなるリスクはあるの？
						p 預金保険制度の対象銀行のため、1,000万円までの預金とその利息が保護されています。

			section.step 
				.c-sec-ttl カンタン3分！UI銀行の口座開設方法をご紹介						
				.step-pre 
					.step-content
						.step-head
							.step-head-index 事前準備
							h3 アプリのダウンロード
						span.step-content-desc 【本人確認書類】について
						p 「スマホで本人確認」をお選びいただきますと、最短翌営業日で口座開設が可能です。ご本人さま確認書類として、運転免許証・個人番号カード・在留カード（外国籍の方）のいずれか1点をご用意ください。
					.step-img-content 
						figure 
							figcaption iPhone
							img(src="/images/img_qr_ip.jpg", alt="")
						figure 
							figcaption Android
							img(src="/images/img_qr_an.jpg", alt="")
				ul.step-list 
					li
						.step-content
							.step-head
								.step-head-index
									span STEP 
									p 1
								h3 口座開設
							p 新規口座開設のボタンを押してスタート。<br>お客さま情報をご入力下さい。
						.step-img-content 
							img(src="/images/img_step_1.jpg", alt="")
					li
						.step-content
							.step-head
								.step-head-index
									span STEP 
									p 2
								h3 本人確認申請
							span.step-content-desc 青の枠線内に「本人確認書類」を配置し、シャッターを押す。
							p 『本人確認申請』後に、銀行側で審査を行います。<br>翌営業日以降に、口座開設に係るご案内のEメールをお送りします。
						.step-img-content 
							img(src="/images/img_step_2.jpg", alt="")
					li
						.step-content
							.step-head
								.step-head-index
									span STEP 
									p 3
								h3 ログイン
							p 受信したEメールを開いて、初回ログインの手続きを行います。
						.step-img-content 
							img(src="/images/img_step_3.jpg", alt="")
				.step-option
					.step-content
						.step-head
							.step-head-index 任意
							h3 キャッシュカード新規発行申込み（任意）
						p 受信したEメールを開いて、初回ログインの手続きを行います。
					.step-img-content 
						img(src="/images/img_step_4.jpg", alt="")