<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="/pages/style.css")
		title  UI銀行
	body
		main.uibank
			section.mv
				.mv-content
					p.mv-head 東京きらぼしフィナンシャルグループ<br>が設立した『デジタルバンク』
					h1
						img.mv-logo(src="/images/logo_mv.png", alt="")
					p.mv-txt きらぼし銀行とUI銀行を併用して活用いただくとますます便利に。スマホひとつで完結できるから、毎日がよりシンプルになります。
					ul.mv-list 
						li: img(src="/images/img_mv-item1.png", alt="")
						li: img(src="/images/img_mv-item2.png", alt="")
					ul.mv-btn-list
						li: img(src="/images/img_btn1.png", alt="")
						li: img(src="/images/img_btn2.png", alt="")
				img(src="/images/img_mv.png", alt="")
			
			section.about 
				.c-sec-head きらぼし銀行と併用がおすすめ
				.c-sec-ttl デジタルバンク『UI銀行』ってどんな銀行？
				ul.about-list 
					li.about-item 
						figure 
							img(src="/images/img_about1.jpg", alt="")
							figcaption 特徴
						h3 東京きらぼしフィナンシャルグループが運営
						p UI銀行は、東京きらぼしフィナンシャルグループが設立したデジタルバンクです。
					li.about-item 
						figure 
							img(src="/images/img_about2.jpg", alt="")
							figcaption 特徴
						h3 アプリで全ての銀行サービスが利用可能
						p 口座開設から普通預金、定期預金の預け入れなど、お手持ちのスマートフォンから簡単にお取引いただけます。
					li.about-item 
						figure 
							img(src="/images/img_about3.jpg", alt="")
							figcaption 特徴
						h3 預金金利も振込手数料も業界高水準
						p 店舗運営や人件費などのコスト削減により、「高い金利」と「安い手数料」を実現しています。
					li.about-item 
						figure 
							img(src="/images/img_about4.jpg", alt="")
							figcaption 特徴
						h3 きらぼし銀行の窓口も変わらず利用可能
						p 万一、操作等にご不安なことがあればお近くのきらぼし銀行窓口でもご相談いただけますので安心です。