.uibank {
  .c-sec-head {
    text-align: center;
    font-size: 29px;
    margin-top: 5px;
    color: #141E50;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}