.uibank {
  .c-sec-ttl {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
    color: #141E50;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    @media only screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
}